@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~normalize.css/normalize.css';

$background-color: white;
$text-color: black;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $background-color;
  color: $text-color;
}

.list-container {
  display: inline-block;
  margin-left: 40px;
}

.list-container ol {
  list-style: none;
  padding-left: 0;
}
